body[data-page="call"] {

    & .container {

        & main {

            & .btn {
    
                &#gatehouse {
    
                    & img#normal {
                        opacity: 1;
                    }
        
                    & img#hover {
                        opacity: 0;
                    }
    
                    &:hover {
            
                        & img#normal {
                            opacity: 0;
                        }
            
                        & img#hover {
                            opacity: 1;
                        }
                    }
                }
    
                &#clinic {
    
                    & img#normal {
                        opacity: 1;
                    }
        
                    & img#hover {
                        opacity: 0;
                    }
    
                    &:hover {
            
                        & img#normal {
                            opacity: 0;
                        }
            
                        & img#hover {
                            opacity: 1;
                        }
                    }
                }

                &#occupational-safety {
    
                    & img#normal {
                        opacity: 1;
                    }
        
                    & img#hover {
                        opacity: 0;
                    }
    
                    &:hover {
            
                        & img#normal {
                            opacity: 0;
                        }
            
                        & img#hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}