body[data-page="call"] .container main .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

body[data-page="call"] .container main .grid .btn {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    justify-items: center;
    gap: 1rem;
    min-height: 11rem;
}

body[data-page="call"] .container main .grid .btn#gatehouse img#normal {
    opacity: 1;
}

body[data-page="call"] .container main .grid .btn#gatehouse img#hover {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#gatehouse:hover img#normal {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#gatehouse:hover img#hover {
    opacity: 1;
}

body[data-page="call"] .container main .grid .btn#clinic img#normal {
    opacity: 1;
}

body[data-page="call"] .container main .grid .btn#clinic img#hover {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#clinic:hover img#normal {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#clinic:hover img#hover {
    opacity: 1;
}

body[data-page="call"] .container main .grid .btn#occupational-safety img#normal {
    opacity: 1;
}

body[data-page="call"] .container main .grid .btn#occupational-safety img#hover {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#occupational-safety:hover img#normal {
    opacity: 0;
}

body[data-page="call"] .container main .grid .btn#occupational-safety:hover img#hover {
    opacity: 1;
}
