body[data-page="call"] {

    & .container {

        & main {

            & .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;               

                & .btn {
                    grid-template-columns: 1fr;
                    grid-template-rows: max-content 1fr;
                    justify-items: center;
                    gap: 1rem;
                    min-height: 11rem;
        
                    &#gatehouse {
        
                        & img#normal {
                            opacity: 1;
                        }
            
                        & img#hover {
                            opacity: 0;
                        }
        
                        &:hover {
                
                            & img#normal {
                                opacity: 0;
                            }
                
                            & img#hover {
                                opacity: 1;
                            }
                        }
                    }
        
                    &#clinic {
        
                        & img#normal {
                            opacity: 1;
                        }
            
                        & img#hover {
                            opacity: 0;
                        }
        
                        &:hover {
                
                            & img#normal {
                                opacity: 0;
                            }
                
                            & img#hover {
                                opacity: 1;
                            }
                        }
                    }

                    &#occupational-safety {
        
                        & img#normal {
                            opacity: 1;
                        }
            
                        & img#hover {
                            opacity: 0;
                        }
        
                        &:hover {
                
                            & img#normal {
                                opacity: 0;
                            }
                
                            & img#hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}