* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Reddit Sans Condensed", Arial, sans-serif;
}

:root{
  --black: #3c3c3b;
  --white: #ffffff;
  --red: #e23333;
  --pink: #ffc5c5;
  --gray: #9d9d9c;
}

html,
body {
  overscroll-behavior-y: none;
}

a {
    text-decoration: none;
    color: inherit;
}