* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Reddit Sans Condensed", Arial, sans-serif;
}

:root{
  --vermelho: #b00020;
  --vermelho-claro: #e53935;
  --cinza: #2b2b2b;
  --branco: #ffffff;

  --black: #3c3c3b;
  --white: #ffffff;
  --red: #e23333;
  --pink: #ffc5c5;
  --gray: #9d9d9c;
}

a {
    text-decoration: none;
    color: inherit;
}