body[data-page="home"] {
    min-height: 100dvh;
    background: linear-gradient(180deg,#1a1a1a,#000);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;

    & .container#main{
        width: 90%;
        max-width: 420px;
        background: var(--cinza);
        border-radius: 14px;
        padding: 25px 20px 20px;
        text-align: center;
        border: 2px solid var(--vermelho);


        & .logo{
            font-size: 40px;
            margin-bottom: 10px;
        }
    
        & h1{
            color: var(--branco);
            font-size: 1.6em;
        }
    
        & p{
            color: #ccc;
            margin-block: 10PX 20px;
        }
    
        & .btn{
            display: flex;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 12px 16px;
            min-height: 64px;
            margin: 12px 0;
            border-radius: 10px;
            text-decoration: none;
            font-weight: bold;
            color: white;
            background: linear-gradient(135deg,#b00020,#e53935);
            position: relative;
            
            & span{
                font-size: 1.1em;
        
                &.emoji{
                    font-size: 1.75em;
                    width: 37px;
                }
            }
        }
    
        & .footer{
            margin-top: 20px;
            font-size: .75em;
            color: #aaa;
        }
    
        @keyframes spin{
            to{transform: rotate(360deg);}
        }
    }
}